@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

/* Style the App */
.app {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(45deg, #27282D, #232428); */
  /* background: red; */
  height: 100vh;
  /* margin: 0 auto; */
}

/* Header Application */
.header {
  position: relative;
  background: linear-gradient(45deg, #27282D, #232428);
  padding: 20px 60px;
}

.header .prev-title {
  font-size: 18px;
  width: 100%;
  max-width: 500px;
  color: #fafafa;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.header .prev-title .pen-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #33353D;
  color: #FFF2D7;
  margin-left: 14px;
  cursor: pointer;
}

/* Menu Application Sidebar */
.menu {
  background:#33353D;
  color: #FFF2D7;
  cursor: pointer;
}

/* Logo */
.logo {
  background: #FFF2D7;
  color: #232428;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

/* Main chat */
.chat__container {
  position: relative;
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background: blue; */
}

/* Users and Bot sender message */
.bot__sender, .user__sender {
  margin-top: 20px;
  overflow-wrap: break-word;
  word-break: break-word;
  background: #33353D;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.user__sender:nth-child(odd) {
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #33353D;
}

.bot__sender:nth-child(odd) {
  padding: 20px 20px;
  /* background: linear-gradient(45deg, #27282D, #232428); */
  background: linear-gradient(45deg, #232428, #27282D);
}

/* Padding for main chat messages session */
.chat_session {
  position: relative;
  padding: 0px 0px;
  width: 100%;
  /* background: yellow; */
}

/* Message input for user sender message */
.message-input__container {
  position: relative;
  background: transparent;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-input__container input {
  width: 100%;
  max-width: 850px;
  border-radius: 12px;
  padding: 14px 20px;
  color: #fafafa;
  margin-right: 20px;
  outline: 1px solid #fafafa;
}

.message-input__container button {
  background: #33353D;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.message-input__container .emoji-button {
  background: #33353D;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.message-input__container .emoji-picker__container {
  position: absolute;
  bottom: 100%;
  right: 100px;
  margin-top: 10px;
  z-index: 1000;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}

/* Skeleton Animation */
.skeleton {
  margin-top: 10px;
}

/* Lateral Menu */
.sidebar {
  position: fixed;
  top: 0;
  left: -480px;
  width: 480px;
  height: 100%;
  background: linear-gradient(45deg, #232428, #27282D);
  color: #fafafa;
  padding: 20px 10px;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

/* Open sidebar with JS */
.sidebar.open {
  left: 0;
}

/* Background overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.show {
  display: block;
}

/* Header for sidebar */
.sidebar-header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 10px;
}

/* Close button style */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  background: none;
  border: none;
  background: #33353D;
  color: #fafafa;
  cursor: pointer;
  font-size: 18px;
}

.sidebar .header-avatar {
  background: linear-gradient(45deg, #27282D, #252527);
  border-radius: 12px;
}

.sidebar .header-avatar .dropdown {
  background: #33353D;
  color: #fafafa;
}

.sidebar .chat-history {
  width: 100%;
  height: calc(100% - 310px);
  padding: 10px;
  overflow-y: auto;
  margin-top: 20px;
  /* background: #33353D; */
  background: linear-gradient(45deg, #252527, #27282D);
}

.sidebar .summary-list {
  margin-top: 10px;
  padding: 4px 0px;
}

.sidebar .summary-list .item {
  background: linear-gradient(45deg, #27282D, #252527);
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.sidebar .upgrade-plan {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  background: #FFF2D7;
  border-radius: 12px;
}

.sidebar .upgrade-plan .text h2 {
  font-size: 16px;
  color: #27282D;
}

.sidebar .upgrade-plan .text p {
  opacity: .6;
  font-size: 14px;
  color: #33353D;
}

.sidebar .credits {
  color: #33353D;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  background: #FFF2D7;
  border-radius: 12px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba( 255, 255, 255, 0 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal to Upgrade pro plan */
.modal-content {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 1040px;
  height: 840px;
  background: linear-gradient(45deg, #232428, #27282D);
  background-size: 200% 200%;
  animation: gradientAnimation 5s infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.modal-content p {
  font-size: 18px;
  font-weight: 400;
  opacity: .8;
  margin-top: 1rem;
}

.modal-content .chose-a-plan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  height: calc(100% - 100px);
}

.modal-content .chose-a-plan .free-plan {
  background: linear-gradient(45deg, #232428, #27282D);
  padding: 40px 20px;
  border-radius: 12px;
}

.modal-content .chose-a-plan .free-plan span {
  display: block;
  background: #FFF2D7;
  color: #232428;
  border-radius: 25px;
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
}

.modal-content .chose-a-plan .free-plan p {
  margin-top: 20px;
  font-weight: 200;
}

.modal-content .chose-a-plan .free-plan .item {
  height: auto;
  margin-top: 20px;
  background: #33353D;
  padding: 14px 20px;
  border-radius: 25px;
}

.modal-content .chose-a-plan .free-plan .min-item {
  background: transparent;
  font-size: 16px;
  padding: 0 6px;
  color: #FFF2D7;
}

.modal-content .chose-a-plan .free-plan .this-plan {
  background: linear-gradient(45deg, #27282D, #232428);
  border-radius: 25px;
  width: 100%;
  margin-top: 20px;
  padding: 16px 20px;
}

.modal-content .chose-a-plan .pro-plan {
  background: linear-gradient(45deg, #232428, #27282D);
  border: 1px solid #FFF2D7;
  padding: 40px 20px;
  border-radius: 12px;
}

.modal-content .chose-a-plan .pro-plan div {
  position: relative;
  display: block;
  background: #FFF2D7;
  color: #232428;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
}

.modal-content .chose-a-plan .pro-plan div .price {
  position: absolute;
  right: 30px;
  margin-left: 24px;
}

.modal-content .chose-a-plan .pro-plan p {
  margin-top: 20px;
  font-weight: 200;
}

.modal-content .chose-a-plan .pro-plan .item {
  height: auto;
  margin-top: 20px;
  background: #33353D;
  padding: 14px 20px;
  border-radius: 25px;
}

.modal-content .chose-a-plan .pro-plan .min-item {
  background: transparent;
  font-size: 16px;
  padding: 0 6px;
  color: #FFF2D7;
}

.modal-content .chose-a-plan .pro-plan .this-plan {
  background: linear-gradient(45deg, #7A67E3, #634ED6);
  border-radius: 25px;
  width: 100%;
  margin-top: 20px;
  padding: 16px 20px;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  background: #33353D;
}

/* Welcome Screen */
.welcome-container {
  margin-top: 8rem;
  padding: 10px 20px;
}

.welcome-container h1 {
  color: #FFF2D7;
}

.welcome-container .circle-welcome {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(45deg, #faeed7, #FFF2D7);
  margin: 20px auto;
  animation: breathe 2.5s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* End Text */
.end-text {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.end-text p {
  font-size: 16px;
}

/* Ripple effect */
.ripple-button {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* Create new chat button */
.create-new-chat {
  background: #FFF2D7;
  color: #232428;
  padding: 16px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

/* New chat */
.new-chat__modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.new-chat__modal .container__content {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 12px;
  padding: 20px;
  background: #232428;
  background-size: 200% 200%;
  animation: gradientAnimation 5s infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.new-chat__modal .container__content label {
  font-size: 18px;
  outline: none;
}

.new-chat__modal .container__content span {
  font-size: 14px;
}

.new-chat__modal .container__content .create-button {
  background: #FFF2D7;
  color: #232428;
  font-size: 16px;
  cursor: pointer;
}

.new-chat__modal .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: none;
  border: none;
  background: #33353D;
  color: #fafafa;
  cursor: pointer;
  font-size: 18px;
}

/* Markdown Style */
.markdown-render h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.markdown-render h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.markdown-render p {
  text-align: justify;
  margin-bottom: .60rem;
  margin-top: .60rem;
  line-height: 1.7;
  color: #fafafa;
  opacity: .8;
}

.markdown-render ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.markdown-render li {
  margin-bottom: 0.5rem;
}

.markdown-render strong {
  font-weight: 600;
  color: #fafafa;
}

.markdown-render em {
  font-style: italic;
}

.markdown-render pre {
  border-radius: 8px;
  overflow: auto;
  margin: 1rem 0;
  padding: 2px 8px;
  background: #33353D;
}

.markdown-render code {
  font-size: 0.95rem;
  /* padding: 4px; */
  border-radius: 8px;
  background: #3c3d47;
}

/* .user__sender .markdown-render {
  text-align: right;
}

.bot__sender .markdown-render {
  text-align: left;
} */

/* DOTS Style Markdoown */
.markdown-render ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.markdown-render ul li::marker {
  color: #fafafa;
}

/* Table Style */
.markdown-render table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.markdown-render th,
.markdown-render td {
  border: 2px solid #40434b;
  padding: 0.75rem;
  text-align: center;
  font-size: 0.9rem;
}

.markdown-render thead {
  background: transparent;
  color: #fff;
}

.markdown-render tbody tr:nth-child(even) {
  background: #313138;
}

.markdown-render tbody tr:nth-child(odd) {
  background: #2a2c30;
}

/* Icons min box */
.icons-min__box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid #40434b;
  border-radius: 12px;
  --color: #40434b;
  background: #33353D;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.icon-circle {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50%;
  background: #40434b;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Math style */
.mathjax-rendered {
  display: block;
  margin: 1.25rem auto;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #fff;
}

.mathjax-rendered.inline {
  display: inline;
  font-size: 1rem;
  margin: 0 0.25rem;
  text-align: left;
}

/* Wave Surfer Component */
.wave-surfer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 100%;
  max-width: 421px;
  height: 400px;
  background: #33353D;
  border-radius: 12px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px;
  cursor: move;
}

.wave-surfer .min-header {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wave-surfer .min-header .close-wave {
  border-radius: 50%;
}

.wave-surfer .min-header .download-circle {
  border-radius: 50%;
}

.wave-surfer .modal-wavesurfer {
  /* height: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave-surfer .modal-wavesurfer .wave-form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.wave-surfer .modal-wavesurfer {
  width: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wave-surfer .modal-wavesurfer .circle__waveform {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: linear-gradient(45deg, #D55B5B, #D5A956);
  margin: 20px auto;
  animation: breathe 2.5s ease-in-out infinite;
}

.wave-surfer .play-pause__button {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #484852;
  border-radius: 50px;
}
  
/* No Chats Style */
.no-chats {
  padding: 4px 8px;
  margin-top: 8rem;
}

/* @keyframes slideDown {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.4s ease-out;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-in forwards;
} */

/* Empty credits */
.empty-credits {
  position: relative;
  background: linear-gradient(45deg, #232428, #27282D);
  z-index: 1000;
}

.empty-credits::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  opacity: .4;
  z-index: -1;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #e7cdb2 60%, #eac7a5 100%);
  filter: blur(80px);
  animation: circleAnimate 2.5s ease-in-out infinite;
}

@keyframes circleAnimate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.empty-credits .empty-credits__container {
  background: #33353D;
  padding: 30px 20px;
  border-radius: 8px;
}

/* Media Querie */
@media (max-width: 1080px) {
  .header .prev-title {
    font-size: 20px;
    width: 100%;
    max-width: 500px;
    color: #fafafa;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    display: none;
  }
}

body {
  position: relative;
  background: linear-gradient(45deg, #27282D, #242529);
  height: auto;
  /* overflow-y: auto; */
}
